{% extends 'app/base.html' %}
{% load static %}

{% block category %}
  <a class="dropdown-item" href="{% url 'home' %}">All Products</a>
  {% for i in category %}
    <a class="dropdown-item" href="{% url 'category_filter' i.slug %}">{{i.title|capfirst}}</a>
  {% endfor %}
{% endblock category %}

{% block content %}
<h1 class="mx-3 px-3 my-3 py-3 text-center" >Contact us!</h1>
<form class="mx-3 px-3 my-3 py-3" action="{% url 'contact' %}"method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlInput">Name : </label>
        <br>
        <input type="name" name="name" type="text" required class="form-control" id="exampleFormControlInput" placeholder="name..">  
        <br>
        <label for="exampleFormControlInput1">Email address : </label>
        <br>
        <input type="email" name="mail" type="email" required class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <br>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comments : </label>
      <textarea class="form-control" name="msg" type="text" required id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}